[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/gfm"]
	path = deps/gfm
	url = https://github.com/d-gamedev-team/gfm
[submodule "deps/toml"]
	path = deps/toml
	url = https://github.com/rickrankin/toml
[submodule "deps/erupted"]
	path = deps/erupted
	url = https://github.com/ParticlePeter/ErupteD
[submodule "deps/bindbc-assimp"]
	path = deps/bindbc-assimp
	url = https://github.com/moon-chilled/bindbc-assimp
[submodule "deps/bindbc-loader"]
	path = deps/bindbc-loader
	url = https://github.com/BindBC/bindbc-loader
[submodule "deps/bindbc-sdl"]
	path = deps/bindbc-sdl
	url = https://github.com/BindBC/bindbc-sdl
[submodule "deps/bindbc-opengl"]
	path = deps/bindbc-opengl
	url = https://github.com/BindBC/bindbc-opengl
[submodule "deps/intel-intrinsics"]
	path = deps/intel-intrinsics
	url = https://github.com/AuburnSounds/intel-intrinsics
[submodule "deps/bindbc-lua"]
	path = deps/bindbc-lua
	url = https://github.com/BindBC/bindbc-lua
[submodule "deps/bindbc-freetype"]
	path = deps/bindbc-freetype
	url = https://github.com/BindBC/bindbc-freetype
[submodule "deps/raygui"]
	path = deps/raygui
	url = https://github.com/raysan5/raygui
