[submodule "deps/derelictgl3"]
	path = deps/derelictgl3
	url = https://github.com/derelictorg/derelictgl3
[submodule "deps/derelictsdl2"]
	path = deps/derelictsdl2
	url = https://github.com/derelictorg/derelictsdl2
[submodule "deps/derelictutil"]
	path = deps/derelictutil
	url = https://github.com/derelictorg/derelictutil
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/gfm"]
	path = deps/gfm
	url = https://github.com/d-gamedev-team/gfm
[submodule "deps/derelictassimp3"]
	path = deps/derelictassimp3
	url = https://github.com/DerelictOrg/derelictassimp3
[submodule "deps/toml"]
	path = deps/toml
	url = https://github.com/Kripth/toml
[submodule "deps/erupted"]
	path = deps/erupted
	url = https://github.com/ParticlePeter/ErupteD
